* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* La paleta de colores que voy a usar: 
https://colorhunt.co/palette/5132527a4069ca4e79ffc18e */
body {
    background: #7A4069;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    padding: 15px 30px;
}

header h1 {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width:100%;
    font-size: 2.5em;
    border: 3px solid #FFC18E;
    border-radius: 25px 25px 0px 0px;
    background-color: #FFC18E;
}

nav {
    display: flex;
    margin: 0px 30px;
    border: 3px solid #FFC18E;
    border-radius: 0px 0px 25px 25px;
}

nav ul {
    display: flex; /* El como se organizan los elementos */
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    
}

nav ul li {
    list-style: none; /* El estilo de los puntitos de la lista */
    margin-left: 20px; /* El margen por la izquierda de los elementos */
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: #FFC18E;
    font-size: 1.5em;
}

nav ul li a:hover {
    background: #FFC18E; /* El color para el fondo */
    color: black; /* El color para la letra */
    font-weight: bold;
}

section {
    display: flex;
}

section article {
    background-color: #FFC18E;
    margin: 15px 30px;
    padding: 15px 30px 15px;
}

#imagen {
    text-align: center;
}

#imagen img {
    width: 20%;
    height: 20%;
    padding: 8px;
}

#titulo {
    padding: 8px;
}

#autor {
    padding: 8px;
}

#edicion {
    padding: 8px;
}

#genero {
    padding: 8px;
}

#isbn {
    padding: 8px;
}

#resumen {
    padding: 8px;
}